*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    padding: 2rem;
}

.leftMenu{
    width: 20%;
}

h1{
    font-size: 1.2rem;
    color: #555;
    font-weight: 300;
    margin-top: 1rem;
}

.categoriesContainer{
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
}

.categories{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}

.search{
    padding: 0.5rem;
    width: 12rem;
    border: 1px solid gray;
}

.content{
    width: 80%;
   
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 1px solid blue; */
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    /* gap: 10px; */
    /* border: 1px solid black; */
}

img{
    width: 150px;
    height: 250px;
    object-fit: contain;
}